<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{ 'reset' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-background">
    <form [formGroup]="resetPassForm">
  <div>
    <ion-grid>
      
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'NRIC' | translate }}</ion-label>
            <ion-input formControlName="NoKP" maxlength="14"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'verificationcode1' | translate }}</ion-label>
              <ion-input formControlName="verificationcode"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'newpassword' | translate }}</ion-label>
              <ion-grid>
                <ion-row>
                  <ion-col size="9"> 
                    <ion-input formControlName="password" clearInput [type]="showPassword==true? 'text' : 'password'"></ion-input>
                  </ion-col>
                  <ion-col size="3"> 
                    <ion-button  size="small" fill="clear" (click)="togglePassword()"><ion-icon slot="icon-only" [name]="showPassword==true? 'eye-off' : 'eye'"></ion-icon></ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-text color="danger">
          <small>{{ 'passwordnotes' | translate }}</small>
        </ion-text>
    </ion-grid>
  
    <ion-button color="secondary" expand="full" [disabled]="resetPassForm.invalid" (click)="doVerify()">{{ 'submit' | translate }}</ion-button>

  </div>
</form>
</ion-content>