<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{ 'ApplicationResult' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <form [formGroup]="applicationResultForm">
  <ion-row align-items-start>
    <ion-col>
        <ion-item>
                <ion-label position="stacked">{{ 'APELLevel' | translate }}</ion-label>
            <ion-select   placeholder="{{ 'chooseone' | translate }}" (ionChange)="changeLevel($event.detail.value)" formControlName="level">
              <ion-select-option  *ngFor="let level of levelArray" value="{{level.id}}">{{level.peringkatbm}} / {{level.peringkatbi}} {{level.tahapmqf}} </ion-select-option>
            </ion-select>
            
          </ion-item>
    </ion-col>
  </ion-row>
</form>
      <ion-card *ngIf="norecords" color="light">
        <ion-card-content >
            <ion-row align-items-start>
                <ion-col>
                  {{ 'Norecords' | translate }}
                </ion-col>
              </ion-row>
        </ion-card-content> 
      </ion-card>
      <ion-card *ngIf="result" color="light">
          <ion-item color ="secondary">
            <ion-icon name="paper" slot="start" color="light"></ion-icon>
            <ion-label>{{ 'APELAssessmentResult' | translate }}</ion-label>
          </ion-item>
          <ion-card-content  *ngFor="let applicant of ApplicationResult">
            <ion-row align-items-start>
              <ion-col >
             {{'ResultDate' | translate}} : {{applicant.dtEmelKeputusan |date: 'dd MMM yyyy'}}
              </ion-col>
            </ion-row>
              <ion-row align-items-start>
                  <ion-col >
                 {{applicant.statusbm}}/{{applicant.statusbi}}
                  </ion-col>
                </ion-row>
                <ion-row align-items-start *ngIf="applicant.status==='LULUS'">
                    <ion-col>
                    </ion-col>
                  </ion-row>
          </ion-card-content>
        </ion-card>
      
</ion-content>
