<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{ 'updatepassword' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-background">
  <form [formGroup]="updatePasswordForm">
  <div>
    <ion-grid>     

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'newpassword' | translate }}</ion-label>
            <ion-grid>
              <ion-row>
                <ion-col size="9">
                  <ion-input formControlName="password" clearInput [type]="showPassword==true? 'text' : 'password'"></ion-input>
                </ion-col>
                <ion-col size="3">
                  <ion-button  size="small" fill="clear" (click)="togglePassword()"><ion-icon slot="icon-only" [name]="showPassword==true? 'eye-off' : 'eye'"></ion-icon></ion-button>
                </ion-col>   
            </ion-row>
            </ion-grid>             
          </ion-item>          
        </ion-col>
      </ion-row>                
      <ion-text color="danger">
        <small>{{ 'passwordnotes' | translate }}</small>
      </ion-text>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'confirmpassword' | translate }}</ion-label>
            <ion-input formControlName="repassword" clearInput type="password"></ion-input>            
          </ion-item>
          <span class="error" *ngIf="updatePasswordForm.get('password').errors?.pattern">{{ 'passwordnotmatch' | translate }}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button color="secondary" expand="full" [disabled]="updatePasswordForm.invalid" (click)="doUpdatePassword()">{{ 'update' | translate }}</ion-button>

  </div>
</form>
</ion-content>