<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{ 'REGISTER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-background">
  <ion-img src="/assets/logo-apel.png"></ion-img>
  <form [formGroup]="registerForm">
  <div>
    <ion-grid>
      <ion-row align="left">
        <ion-col style="font-size: 16px;">
          <strong>{{ 'signup1' | translate }}</strong>
        </ion-col>
      </ion-row>

      <ion-row align="left">
        <ion-col style="font-size: 12px;">
          {{ 'signup2' | translate }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'NRIC' | translate }}</ion-label>
            <ion-input formControlName="NoKP" maxlength="14"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button color="secondary" expand="full" [disabled]="registerForm.invalid" (click)="doRegister()">{{ 'verificationcode' | translate }}</ion-button>

  </div>
</form>
</ion-content>