.with-background{
    // --background : url('/assets/bg.jpg') no-repeat center center /cover;

    ion-img{
        width: 200px;
        display: block;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 100px;
    }

    a {
        text-decoration: none;
    }

}


