<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'EN' | translate }}</ion-title>
  </ion-toolbar>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="chgL('en')" color="danger">EN</ion-fab-button>
      <ion-fab-button (click)="chgL('my')" color="danger">MY</ion-fab-button>
      <!--
      <ion-fab-button (click)="chgL('en')"><ion-img src="/assets/bi.png"></ion-img></ion-fab-button>
      <ion-fab-button (click)="chgL('my')"><ion-img src="/assets/bm.png"></ion-img></ion-fab-button>
      -->
    </ion-fab-list>
  </ion-fab>

</ion-header>

<!-- <ion-header>

  <ion-toolbar color="primary">

    <ion-title>
      <div class="ion-text-center">
       {{ 'EN' | translate }} 
      </div>
    </ion-title>
  

  <ion-buttons slot="end" click="chgL()">
    <ion-button *ngIf="isEn">
      <ion-img src="assets/langMY.png"></ion-img>
    </ion-button>
    <ion-button *ngIf="!isEn">
      <ion-img src="assets/langEN.png"></ion-img>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header> -->



<ion-content class="with-background">  

  <div align="center">
    <ion-grid>
      <ion-img src="/assets/logo-apel.png"></ion-img>
      <form [formGroup]="registerForm">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'NRIC' | translate }}</ion-label>
              <ion-input formControlName="nric" clearInput maxlength="14"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">{{ 'PSWD' | translate }}</ion-label>
              <ion-grid>
                <ion-row>
                  <ion-col size="9">
                    <ion-input formControlName="password" clearInput [type]="showPassword==true? 'text' : 'password'">
                    </ion-input>
                  </ion-col>
                  <ion-col size="3">
                    <ion-button size="small" fill="clear" (click)="togglePassword()">
                      <ion-icon slot="icon-only" [name]="showPassword==true? 'eye-off' : 'eye'"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>

            </div>
          </ion-col>
          <ion-col>
            <div>

            </div>
          </ion-col>
          <ion-col>
            <div>
              <small> <a routerLink="/resetpassword">{{ 'forgotpassword' | translate }}</a></small>
            </div>
          </ion-col>
        </ion-row>
      </form>

    </ion-grid>
    <ion-button color="secondary" [disabled]="registerForm.invalid" (click)="doLogin()" expand="full">
      {{ 'LOGIN' | translate }}</ion-button>
    <ion-button color="tertiary" routerLink="/signup" expand="full">{{ 'REGISTER' | translate }}</ion-button>
    <!-- <ion-button color="primary" routerLink="/resetpassword" expand="full">Lupa Katalaluan</ion-button> -->
  </div>
</ion-content>