<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">{{ 'REGISTER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <form [formGroup]="registerForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked"><strong>{{ 'PSWD' | translate }}</strong></ion-label>
        <ion-input [type]="passwordType" formControlName="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"><strong>{{ 'PSWDConfirm' | translate }}</strong></ion-label>
        <ion-input [type]="passwordType" formControlName="confirmpassword"></ion-input>
        <ion-icon item-end name="eye" [color]="passwordShown === true ? 'dark' : 'medium'" (click)="togglePassword()"
          class="password-icon"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-button color="secondary" [disabled]="registerForm.invalid" expand="full" routerLink="/login">{{ 'REGISTER' | translate }}
    </ion-button>
  </form>
</ion-content>