<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{'ApelAApplication' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="applicationForm">
    <div>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">{{'APELLevel' | translate}}</ion-label>
          <ion-select placeholder="Choose one" (ionChange)="changePeringkat($event.detail.value)"
            formControlName="level">
            <ion-select-option *ngFor="let level of levelArray" value="{{level.id}}">{{level.peringkatbm}} /
              {{level.peringkatbi}} {{level.tahapmqf}} </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="T3T4Choosen">
          <ion-label position="stacked">{{'AptitudeTestCenter' | translate}}</ion-label>
          <ion-select placeholder="Choose one" okText="Okay" cancelText="Dismiss" formControlName="testcenter">
            <ion-select-option *ngFor="let ppa of ppaArray" value="{{ppa.id}}">{{ppa.pusatpeperiksaan}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="T6Choosen">
          <ion-label position="stacked">{{'PPA' | translate}}</ion-label>
          <ion-select placeholder="Choose one" okText="Okay" cancelText="Dismiss" formControlName="testcenter">
            <ion-select-option *ngFor="let ppa of ppaArray" value="{{ppa.id}}">{{ppa.pusatpeperiksaan}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="T7Choosen">
          <ion-label position="stacked">{{'Field' | translate}}</ion-label>
          <ion-select placeholder="Choose one" (ionChange)="changeBidang($event.detail.value)" formControlName="field">
            <ion-select-option *ngFor="let bidang of bidangArray" value="{{bidang.id}}">{{bidang.bidang}} /
              {{bidang.bidangbi}} </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="ppabybidang">
          <ion-label position="stacked">{{'PPA' | translate}}</ion-label>
          <ion-select placeholder="Choose one" okText="Okay" cancelText="Dismiss" formControlName="testcenter">
            <ion-select-option *ngFor="let ppabidang of bidangByPPA" value="{{ppabidang.idppa}}">
              {{ppabidang.pusatpeperiksaan}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <div align="center">
      <ion-button expand="block" color="primary" (click)="apply()" [disabled]="applicationForm.invalid">{{'Apply' | translate}}</ion-button>
    </div>
  </form>
</ion-content>