<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{ 'ApplicantDetail' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="with-background">
  <ion-img src="/assets/APEL_App_logo.png"></ion-img>

</ion-content> -->

<ion-content fullscreen>
  <form [formGroup]="userdetailForm">
  <ion-card >
      <ion-card-header>
        <ion-card-subtitle>
            </ion-card-subtitle>
        <ion-card-title>{{ 'personalinfo' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngFor="let userdetail of userdetail">
        <ion-grid>

            <ion-row>
                <ion-col>
                 <ion-item>
                   <ion-label position="stacked">{{ 'NRIC' | translate }}:</ion-label>
                   <ion-label >{{userdetail.nokp}}</ion-label>
                 </ion-item>
               </ion-col>
             </ion-row>

            <ion-row>
                <ion-col>
                 <ion-item>
                   <ion-label position="stacked">{{ 'FullName' | translate }}:</ion-label>
                   <ion-label >{{userdetail.nama}}</ion-label>
                 </ion-item>
               </ion-col>
             </ion-row>
          
          <ion-row>
             <ion-col>
              <ion-item>
                <ion-label position="stacked">{{ 'DOB' | translate }}:</ion-label>
                <ion-label>{{userdetail.dob|date:'dd MMM yyyy'}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">{{ 'Gender' | translate }}:</ion-label>
                <ion-label >{{userdetail.sex}}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <ion-item>
                      <ion-label position="stacked">{{ 'Race' | translate }}:</ion-label>
                      <ion-label >{{userdetail.bangsa}}</ion-label>
                    </ion-item>
              </ion-col>
            </ion-row>

        </ion-grid>
      </ion-card-content>

  </ion-card>

  <ion-card>
      <ion-card-header>
          <ion-card-subtitle>
              </ion-card-subtitle>
              
          <ion-card-title>{{ 'Contact' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngFor="let userdetail of userdetail">

        <ion-grid>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ 'Mobile' | translate }}:</ion-label>
                  <ion-label >{{userdetail.nohp}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            
            <ion-row>
               <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ 'Office' | translate }}:</ion-label>
                  <ion-label >{{userdetail.notelp}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ 'Home' | translate }}:</ion-label>
                  <ion-label >{{userdetail.notelr}}</ion-label>
                  </ion-item>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ 'EMAIL' | translate }}:</ion-label>
                  <ion-label >{{userdetail.emel}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked">{{ 'Fax' | translate }}:</ion-label>
                    <ion-label >{{userdetail.fax}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>
              
          </ion-grid>

        </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-header>
          <ion-card-subtitle>
              </ion-card-subtitle>
          <ion-card-title>{{ 'CorrespondenceAddress' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngFor="let userdetail of userdetail">

        <ion-grid>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ 'Address' | translate }}:</ion-label>
                  <ion-label >{{userdetail.almt}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            
            <ion-row>
               <ion-col>
                <ion-item>
                  <ion-label position="stacked"></ion-label>
                  <ion-label >{{userdetail.almt1}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked"></ion-label>
                  <ion-label >{{userdetail.almt2}}</ion-label>
                  </ion-item>
              </ion-col>
            </ion-row>
  
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{ 'Postcode' | translate }}:</ion-label>
                  <ion-label >{{userdetail.poskod}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked">{{ 'City' | translate }}:</ion-label>
                    <ion-label >{{userdetail.bandar}}</ion-label>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="stacked">{{ 'State' | translate }}:</ion-label>
                      <ion-label >{{userdetail.negeri}}</ion-label>
                    </ion-item>
                  </ion-col>
                </ion-row>
              
          </ion-grid>

        </ion-card-content>
  </ion-card>                            

        <!---<ion-button color="secondary" expand="full">{{ 'update' | translate }}</ion-button>--->
     
  

  </form>
</ion-content>


