<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{ 'InterviewInfo' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 <!-- <form [formGroup]="interviewResultForm">
      <ion-row align-items-start>
        <ion-col>
            <ion-item>
                <ion-label position="stacked">{{ 'APELLevel' | translate }}</ion-label>
                <ion-select   placeholder="{{ 'chooseone' | translate }}" (ionChange)="changeLevel($event.detail.value)" formControlName="level">
                  <ion-select-option  *ngFor="let level of levelArray" value="{{level.id}}">{{level.peringkatbm}} / {{level.peringkatbi}} {{level.tahapmqf}} </ion-select-option>
                </ion-select>
                
              </ion-item>
        </ion-col>
      </ion-row>
      </form> -->
      <ion-card *ngIf="norecords">
          <ion-card-content >
              <ion-row align-items-start>
                  <ion-col>
                    {{ 'Norecords' | translate }}
                  </ion-col>
                </ion-row>
          </ion-card-content> 
         </ion-card>
      <ion-card *ngIf="result" color="light" >
        <ion-item color="secondary">
          <ion-icon name="people" slot="start" color="light"></ion-icon>
          <ion-label >{{ 'InterviewInfo' | translate }}</ion-label>
        </ion-item>
        <ion-card-content *ngFor="let applicant of Interview" >
            <ion-row align-items-start>
                <ion-col>
                  {{ 'NRIC' | translate }} :
                </ion-col>
                <ion-col>
                 {{applicant.nokp}}
                </ion-col>
              </ion-row>
              <ion-row align-items-start>
                  <ion-col>
                   APEL ID:
                  </ion-col>
                  <ion-col>
                      {{applicant.APELID}}
                  </ion-col>
                </ion-row>
                <ion-row align-items-start>
                    <ion-col>
                      {{ 'Venue' | translate }}:
                    </ion-col>
                    <ion-col>
                        {{applicant.pusatpeperiksaan}} , {{applicant.almtpusat}} , {{applicant.almt1pusat}}
                    </ion-col>
                  </ion-row>
                    <ion-row align-items-start>
                      <ion-col>
                        {{ 'date' | translate }}: 
                      </ion-col>
                      <ion-col>
                        {{applicant.dttemuduga |date :'dd MMMM yyyy' }} 
                      </ion-col>
                    </ion-row>
                  <ion-row align-items-start>
                      <ion-col>
                        {{ 'time' | translate }}: 
                      </ion-col>
                      <ion-col>
                        {{applicant.masamula}} - {{applicant.masatamat}}
                      </ion-col>
                    </ion-row>
        </ion-card-content>
        <ion-item color ="secondary">
            <ion-icon name="contact" slot="start" color="light"></ion-icon>
            <ion-label>{{ 'ContactPerson' | translate }}</ion-label>
          </ion-item>
        <ion-card-content *ngFor="let applicant of Interview">
          <ion-row align-items-start>
              <ion-col>
                  {{applicant.pegawai1}}
              </ion-col>
            </ion-row>
            <ion-row align-items-start>
                <ion-col>
                    {{applicant.notel}}
                </ion-col>
              </ion-row>
              <ion-row align-items-start>
                <ion-col>
                    {{applicant.emelppa}}
                </ion-col>
              </ion-row>
      </ion-card-content>
      </ion-card>
</ion-content>
