<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>  <ion-title>{{ 'ContactUs' | translate }}</ion-title>
          </ion-buttons>
      <ion-title color="light"></ion-title>
    </ion-toolbar>

    
</ion-header>

<ion-content>
<!--
  <ion-card color='light'>
    <ion-card-content>
      <img src="/assets/logoAPEL.png">
      Hidden
      <b>{{ 'dear' | translate }}</b><br><br>

      📧 apeladmin@mqa.gov.my<br>
      ☎ 03-8688 1900<br>
    
    </ion-card-content>
  </ion-card>-->

  <ion-card color='light'>
    <img src="/assets/logo-apel.png">
    <ion-card-header>
      <ion-card-subtitle><b>{{ 'Address' | translate }}:</b></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Agensi Kelayakan Malaysia (MQA)<br>
      Mercu MQA, No. 3539<br>
      Jalan Teknokrat 7, Cyber 5<br>
      63000 Cyberjaya<br>
      Selangor Darul Ehsan<br>
      📧 apeladmin@mqa.gov.my<br>
      ☎ 03-8688 1900<br>
      🌐 www2.mqa.gov.my/apel
    </ion-card-content>
  </ion-card>

  <ion-card color='light'>
    <ion-card-header>
      <ion-card-subtitle><b>{{ 'ambilan' | translate }}:</b></ion-card-subtitle>
      <ion-card-subtitle><b>{{ 'hariambilan' | translate }}</b></ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
        {{ 'ambilantime' | translate }}<br>
        {{ 'ambilanrest' | translate }}<br><br>
    </ion-card-content>
  </ion-card>

  <ion-card color='light'>
    <ion-card-header>
      <ion-card-subtitle><b>{{ 'lokasi' | translate }}:</b></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <iframe class="ion-margin center" scrolling="no" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.653466410926!2d101.65455191475678!3d2.9156604978763823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdb701e6194b89%3A0x5643eb4ea9cecb0f!2sMERCU+MQA!5e0!3m2!1sen!2smy!4v1530507508946" frameborder="0" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>


</ion-content>