<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{ 'reset' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="with-background">
    <form [formGroup]="tukarKatalaluanForm">
  <div>
    <ion-grid>
     
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">{{ 'NRIC' | translate }}</ion-label>
            <ion-input formControlName="nokp" maxlength="14"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  
    <ion-button color="secondary" expand="full" [disabled]="tukarKatalaluanForm.invalid" (click)="doReset()">{{ 'submit' | translate }}</ion-button>

  </div>
</form>
</ion-content>