<ion-header>
  <ion-toolbar >
    <ion-title></ion-title>
    <ion-buttons slot="end" >
        <ion-button (click)="dismiss()">{{ 'Closed' | translate }}
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div align="center">
<ion-card>
    <ion-card-content>
      {{ 'TQ' | translate }}
    </ion-card-content>
    <ion-card-content>
      {{ 'TQ1' | translate }}<br>
      {{ 'TQ2' | translate }}<br>
      {{ 'TQ3' | translate }}<br>
    </ion-card-content>
    <ion-card-content>
        unitapel@mqa.gov.my
    </ion-card-content>
    <ion-card-content>
        03-8688 1949 / 3612 / 1968
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
