ion-img{
    width: 50px;
    display: block;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
}




.dashboard-card{

    height: 90%;

    ion-card-content {
        font-size: medium;
        
    }
}