

<ion-header>
  <ion-toolbar color="primary">
     <!-- <ion-img src="/assets/logo-apel.png"></ion-img>-->
 <ion-title color="light">{{ 'Dashboard' | translate }}</ion-title>
  </ion-toolbar>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="exit" (click)="logoutUser()"></ion-icon>  
    </ion-fab-button>
    
  </ion-fab>
  
</ion-header> 

<ion-content>

  <ion-grid>
    <ion-row>
      <!--Hidden
      <ion-col routerLink="/application">
        <ion-card class="dashboard-card" color="medium">
          <ion-card-header>
            <ion-img src="/assets/pencil.png"></ion-img>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-text-center">{{ 'APELApplication' | translate }}</div><br>
          </ion-card-content>
        </ion-card>
      </ion-col>
      -->

      <ion-col routerLink="/user-detail">
        <ion-card class="dashboard-card" color="medium">
          <ion-card-header>
            <ion-img src="/assets/person.png"></ion-img>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-text-center">{{ 'UserDetail' | translate }}</div><br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col routerLink="/applicationresult">
        <ion-card class="dashboard-card" color="medium">
          <ion-card-header>
            <ion-img src="/assets/check.png"></ion-img>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-text-center">{{ 'ApplicationResult' | translate }}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/aptitudetest">
        <ion-card class="dashboard-card" color="medium">
          <ion-card-header>
            <ion-img src="/assets/ujian.png"></ion-img>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-text-center">{{ 'AptitudeTestInformation' | translate }}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col routerLink="/interview">
        <ion-card class="dashboard-card" color="medium">
          <ion-card-header>
            <ion-img src="/assets/calendar.png"></ion-img>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-text-center">{{ 'InterviewInfo' | translate }}</div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col routerLink="/contact-us">
        <ion-card class="dashboard-card" color="medium">
          <ion-card-header>
            <ion-img src="/assets/contact.png"></ion-img>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-text-center">
              {{ 'ContactUs' | translate }}</div><br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <ion-button expand="full" (click)="logoutUser()" color="secondary">{{ 'Logout' | translate }} </ion-button> -->





</ion-content>