<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>
    <ion-title color="light">{{'AptitudeTestInformation' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="aptitudeForm">
      <ion-row align-items-start>
        <ion-col>
            <ion-item>
                <ion-label position="stacked">{{'APELLevel' | translate }}</ion-label>
                <ion-select   placeholder="{{ 'chooseone' | translate }}" (ionChange)="changeLevel($event.detail.value)" formControlName="level">
                  <ion-select-option  *ngFor="let level of levelArray" value="{{level.id}}">{{level.peringkatbm}} / {{level.peringkatbi}} {{level.tahapmqf}} </ion-select-option>
                </ion-select>
                
              </ion-item>
        </ion-col>
      </ion-row>
      </form>
      <ion-card *ngIf="norecords" color="light">
          <ion-card-content >
              <ion-row align-items-start>
                  <ion-col *ngIf="aptitudeForm.controls['level'].value === '3'">
                    {{'Norecordsapt' | translate }}
                  </ion-col>
                  <ion-col *ngIf="aptitudeForm.controls['level'].value ==='4'">
                    {{'Norecordsapt' | translate }}
                  </ion-col>
                  <ion-col *ngIf="aptitudeForm.controls['level'].value === '6' && ppa =='PPA'">
                    {{'Norecords' | translate }} {{'Norecordsaptppa' | translate }}  {{emelppa}}
                  </ion-col>
                  <ion-col *ngIf="aptitudeForm.controls['level'].value === '6' && ppa =='MQA'">
                    {{'Norecordsapt' | translate }}
                  </ion-col>
                  <ion-col *ngIf="aptitudeForm.controls['level'].value === '7'  && ppa =='PPA'">
                    {{'Norecords' | translate }} {{'Norecordsaptppa' | translate }}  {{emelppa}}
                  </ion-col>
                  <ion-col *ngIf="aptitudeForm.controls['level'].value === '7' && ppa =='MQA'">
                    {{'Norecordsapt' | translate }}
                  </ion-col>
                </ion-row>
          </ion-card-content> 
         </ion-card>
      <ion-card *ngIf="result" color="light" >
        <ion-item color="secondary">
          <ion-icon name="people" slot="start" color="light"></ion-icon>
          <ion-label>{{'AptitudeTestInformation' | translate }}</ion-label>
        </ion-item>
      
        <ion-card-content *ngFor="let applicant of Aptitude" >
          <div  *ngIf="applicant.dtaptitudetest.length > 0  ">
            <ion-row align-items-start>
                <ion-col>
                  {{'NRIC' | translate }} :
                </ion-col>
                <ion-col>
                 {{applicant.nokp}}
                </ion-col>
              </ion-row>
              <ion-row align-items-start>
                  <ion-col>
                   {{'idapel' | translate}}:
                  </ion-col>
                  <ion-col>
                      {{applicant.refno}}
                  </ion-col>
                </ion-row>
                <ion-row align-items-start>
                    <ion-col>
                      {{'Venue' | translate }}:
                    </ion-col>
                    <ion-col>
                        {{applicant.pusatpeperiksaan}} , {{applicant.almtpusat}} , {{applicant.almt1pusat}}
                    </ion-col>
                  </ion-row>
                    <ion-row align-items-start>
                      <ion-col>
                        {{'date' | translate }} : 
                      </ion-col>
                      <ion-col>
                        {{applicant.dtaptitudetest |date :'dd MMMM yyyy' }} 
                      </ion-col>
                    </ion-row>
                  <ion-row align-items-start>
                      <ion-col>
                        {{'time' | translate }} : 
                      </ion-col>
                      <ion-col>
                        {{applicant.masamula}} - {{applicant.masatamat}}
                      </ion-col>
                    </ion-row>
                    <ion-row align-items-start>
                      <ion-col>
                        {{'result' | translate }}: 
                      </ion-col>
                      <ion-col>
                        {{applicant.resultaptitudetest}} 
                      </ion-col>
                    </ion-row>
                    <ion-row align-items-start>
                      <ion-col>
                        {{'ContactPerson' | translate }}: 
                      </ion-col>
                      <ion-col>
                        {{applicant.pegawai1}}
                      </ion-col>
                    </ion-row>
                    <ion-row align-items-start>
                      <ion-col>
                       
                      </ion-col>
                      <ion-col>
                        {{applicant.notel}}
                      </ion-col>
                    </ion-row>
                    
            </div>

            
        <div *ngIf="applicant.dtaptitudetest == '' && ppa =='PPA'">
            <div >
           
           <ion-row align-items-start>
            <ion-col>
              {{'Norecordsaptppa' | translate }}   {{applicant.emelppa}}
            </ion-col>
          </ion-row>
            </div>
           </div> 

           <div *ngIf="applicant.dtaptitudetest == '' && ppa =='MQA'">
            <div >
           <ion-row align-items-start>
            <ion-col>
              {{'Norecordsapt' | translate }} 
            </ion-col>
          </ion-row>
            </div>
           </div> 
        </ion-card-content>
      
      </ion-card>
        
</ion-content>
